<%= form_for @item do |f| %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :content %>
    <%= f.text_field :content %>
  </p>

  <p>
    <%= f.label :image %>
    <%= f.url_field :image %>
  </p>
<hr />
  <%= fields_for :item_prices do |p| %>
    <p>
      <%= p.label :price %>
      <%= p.text_field :price %>
    </p>
  <% end %>


<label></label>
<%= f.submit 'Create' %>

<% end %>