<div class="geocomplete">
  Latitude:     <span data-geo="lat" />
  Longitude:    <span data-geo="lng" />
  Address:      <span data-geo="formatted_address" />
  Country Code: <span data-geo="country_short" />
</div>



<%= form_for @item do |f| %>

  <p>
    <%= f.label :address %>
    <%= f.text_field :address, :size => 35, :class => "geocomplete" %>
  </p>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :maxlength => 30, :size => 20, :required => true %>
  </p>

  <p>
    <%= f.label :content %>
    <%= f.text_field :content, :maxlength => 140, :size => 20, :required => true %>
  </p>

  <p>
    <%= f.label :image %>
    <%= f.url_field :image %>
  </p>

  <%= fields_for :price do |p| %>
    <p>
      <%= p.label :price %>
      <%= p.number_field :price, in:(1..10000), :required => true %>
    </p>

  <% end %>

<label></label>
<%= f.submit 'Create' %>

<% end %>

<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script src="jquery.geocomplete.js"></script>
<script type="text/javascript">
  $("input.geocomplete").geocomplete({
  details: ".details",
  detailsAttribute: "data-geo"
});
</script>
