<div id="search_bar">
  <h1>Worthia</h1>
    <%= form_tag items_path, method: :get do %>
      <p>
        <%= country_select :country_code, nil %>
        <%= text_field_tag :query, params[:query], :required => false %>
        <%= submit_tag "Search", name: nil %>
      </p>
    <% end %>
</div>
<!-- Fuck my life. lol. Look at this crazy shit. It's all for different arguments FOR A FUCKING SEARCH!!!.LOL. -->
<div id="items"> 
  <% if Item.all.empty? && !params[:query].blank? %>
     No items in the database. Please add some.
  <% elsif params[:query].blank? %>
    <% unless @items.empty? %>
      <% Item.all %>
        Please enter valid "search" name. Here are all the items currently in the Worthia database.
    <% end %>
  <% elsif @y.country_code == @clean_code %>
      Found <%= @items.size %> result(s) in <%= @carmen_code_to_country %>!
  <% elsif @y.country_code != @clean_code %>
      Sorry no <%= params[:query] %>(s) in <%= @carmen_code_to_country %>.
    <% end %>
    
  <% @items.each do |item| %>
    <h2>
    <%= link_to item.name, item %>
    </h2>
    <%= item.address %><br />
    <%= item.country %><br />
    <%= item.content %>
  <% end %>
</div>


