<h3><%= @item.name %></h3>
<%= image_tag(@item.image) %>
<p>Description: <%= @item.content %></p>
<h2><%= number_to_currency(@average) %></h2>
<h2><%= @item.address %></h2>
<p>Total Price(s) Added: <%= @prices.count %></p>

<%= link_to('Valuate', item_valuate_path(@item)) %>

<%= link_to('Edit', edit_item_path(@item)) %>

<%= link_to('Delete', @item, :method => :delete, :data => {:confirm => 'Are you sure?' }) %>