<h2>
  <%= @user.name %>
</h2>
<p>
  User since:
  <%= @user.created_at.strftime '%B %m %Y' %>
</p>
<%= image_tag @user.image %>
<%= @items.count %> Item(s) added to the Worthia database.<br />
<%= @prices.count %> Price(s) added to items.