<h1>Rock Paper Scissors Lizard Spock</h1>

<h2> You chose <%= @user_choice.upcase %>!</h2>

<h2> We played <%= @generated_choice.upcase %>!</h2>

<h2> <%= @answer %> </h2>

<div class='rockpaper_img'>
	<img src=<%= @user_img %> >
</div>
<div class='rockpaper_img'>
	<img src=<%= @outcome_img %> >
</div>
<div class='rockpaper_img'>
	<img src=<%= @generated_img %> >
</div>