<form action="/options" method="get">

	<input class="text_field" type="text" placeholder="ENTER MOVIE NAME" name="movie_title">
	<input class="button" type="submit" value="GET POSTER">

</form>
<div class="image">
<img class="image" src="<%= @result %>">

</div>
<div class = "desc">
<h2><%= @result_title %></h2>
<p><%= @result_plot %></p>
<strong>Runtime:</strong>
	<%= @result_runtime %>
</br>	
	<strong>Genre:</strong>
	<%= @result_genre %>
</br>
	<strong>Director:</strong>
	<%= @result_genre %>
	</br>
	<strong>Actors:</strong>
	<%= @result_actors %>
</div>
