<div class="video_page">
	<a href=" <%= @video['URL_code'] %> "> <h2><%= @video['title'] %></h2> </a>

	<div class="imbedded_video">
		<iframe width="420" height="315" src="//www.youtube.com/embed/<%= @youtube_id[0] %>" frameborder="0" allowfullscreen></iframe>
	</div>

	<h3>Description: </h3>
	<h4><em> <%= @video['description'] %> </em></h4>
	<h3>Genre: </h3>
	<h4 <em> <%= @video['genre'] %> </em></h4>

	<ul class="additional_edit_delete">
		<li> <a href="/videos/<%= @video['id'] %>/delete">Delete</a> </li>
		<li> <a href="/videos/<%= @video['id'] %>/edit">Edit</a> </li>
	</ul>

</div>
