<%= @books.each do |book| %>
  <ul>
    <li><%= image_tag(book.image, :class => 'thumbnail') %></li>
    <li><%= link_to(book.title, book) %></li>
    <li>Release Year:<%= book.year %></li>
    <li>Genre: <%= book.genre %></li>
    <li>Pages: <%= book.pages %></li>
  </ul>
  <% end %>