<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Movie Search</title>
	<link rel="stylesheet" href="normalize.css">
	<link rel="stylesheet" href="style.css">
</head>


<div class="navbar transparent navbar-inverse navbar-static-top hr">
    <div class="navbar-brand logo"></div>
    <div class="navbar-brand-right">
    </div>
    <div class="container">

     
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav mineul" style="font-size:38px;margin-top:9px; color:white;">
              <li><a href="movies">Home</a></li>
            </ul>

        </div>
    </div>
</div>


	<div class="header"><img src="http://i.imgur.com/GaSuDru.jpg" height="400px" width="1200px"</a>
	</div>
		<h1>Movie Database</h1>

<div class="info">

<h2>Search for information about any movie</h2>

<p>__________________________________________________</p>

<h3>The introduction of this online movie search now makes it simple and easy to find all the information you need to find that perfect movie to watch!</h3>



</body>


<!-- 
<div class="posterimage">
	 -->

	</nav>

<!-- <div class="plot"> -->
	<% if @title %>
		<p><b> <%= @title %></b></p>
	<% end %>

	

	<% if @plot %>
		<p> <%= @plot %></p>
	<% end %>

	<% if @released %>
		<bold><p>Released: <%= @released %></p></bold>
	<% end %>

	<% if @imbdrating %>
		<p>imbdrating: <%= @imbdrating %></p>
	<% end %>



<!-- <div="poster"> -->
<img src="<%= @poster %>">

<%= yield %>

</div>

</div>

<nav>

</body>

</html>








