

<div class="input-section">
  <form action"/">
    <input class="input-function" name="movie_title" placeholder="Search Movie">
      <button>Search Now!</button>
  </form>
</div>


  <div class="view">

  <p> <% if @title.nil? %>
          Movie Look Up! The place to go when your stuck in the snow!
      <% else %>
          The movie you have searched for is <%= params['movie_title'] %>
      <% end %></p>

    <% if params['movie_title'] %>
      <% @title = params['movie_title'].gsub(' ','+') %>
      <% movie_result = HTTParty.get("http://www.omdbapi.com/?i=&s=#{ @title }")  %>
      <% movies = JSON.parse movie_result %>
          <% movies["Search"].each do |movies| %>
          <p><a href="/results?movie_title=<%= movies['Title'].gsub(' ','+') %>"> Title: <%= movies["Title"] %> |
          Year: <%= movies["Year"] %> |
          Movies: <%= movies["imdbID"] %></a></p>
          <% end %>
    <% end %>


  </div>
        

