<div>
	<h2><%= @youtube['name'] %></h2>

	<h1><%= @youtube['url'] %></h1>

	Genre: <em><%= @youtube['genre'] %></em>

	<p><iframe width="560" height="315" src="//www.youtube.com/embed/<%= @youtube_id %>?rel=0" frameborder="0" allowfullscreen></iframe><p>
	
	<section>
		<a href="/youtube/<%= @youtube['id'] %>/edit">Edit</a>
		<a href="/youtube/<%= @youtube['id'] %>/delete">Delete</a>
	</section>
</div>