<div class="video">

	<h2><%= @video['title'] %></h2>
	<div class="youtube-video">
		<iframe width="560" height="315" src="//www.youtube.com/embed/<%= @url %>?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
	URL: <em><a href="<%= @video['url'] %>"><%= @video['url'] %></a></em>
	<em><%= @video['genre'] %></em>
	<em><%= @video['description'] %></em>

	
	<section>
	
		<a href="/videos/<%= @video['id'] %>/edit">Edit</a>
		<a href="/videos/<%= @video['id'] %>/delete">Delete</a>
	</section>

</div>